<%- include('includes/head', {title: 'Error'}) %>
</head>
<body>
   <%- include('includes/header') %>
   <main>
       <h1>Not Authenticated!</h1>
       <p>You are not authenticated!</p>
       <p><a class="btn" href="/">Home</a></p>
   </main>
</body>
</html>